/* IMPORT DES FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Important pour que les padding ne cassent pas la largeur */
}

/* STYLE GENERAL */

:root {
  --bg-dark: #1A1A1A; /* Couleur background*/
  --text-light: #F5F5F0;
  --green-cta: #4A5D4E;
  --gold-detail: #C5A059;
  --sand-text: #D9C5B2;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-light);
}

/* TITRES */

h1 {
  font-family: 'Tenor Sans', sans-serif;
  color: var(--text-light);
  font-size: 56px;
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  font-family: 'Tenor Sans', sans-serif;
  color: var(--gold-detail);
  font-size: 40px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: var(--sand-text);
  font-size: 18px;
  font-weight: lighter;
  text-transform: uppercase;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-light);
  font-size: 18px;
  font-weight: 300;
}
/* BOUTONS */
/* Bouton principal (Vert) */
.button {
  display: inline-block;
  background-color: var(--green-cta);
  color: var(--text-light);
  padding: 15px 35px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 2px; /* Micro-arrondi luxe */
  border: 1px solid transparent;
  cursor: pointer;
  margin-top: 20px;
}

.button:hover {
  background-color: #3b4b3e; /* Un peu plus foncé */
  border-color: var(--gold-detail); /* Bordure or au survol */
}

